header, .navigation, .login, a, body {
text-decoration: none;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body {
  height: 100%;
  font: 'Times New Roman', Times, sans-serif;
  background-color: #fff;
}

            /*HEADER*/
.header {
    /*position: relative;*/
    height: 200px;
    background-image: url(../img/city.jpg);
    text-align: center;
    
}

.navigation {
    margin: auto;
    padding: 20px 0;
    max-width: 600px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}

.navli {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    line-height: 300%;
    background: #406cd0;
    height: 50px;
    width: 145px;
    transition: 1s;
}

.navli:hover {
    margin: 10px 0;
    background: powderblue;
    color: #406cd0;
}

.ap {
    display: inline-block;
    color: #fff;
}


.logotip {
    clear: right;
    float: left;
}
.login {
    text-transform: uppercase;
    background: #406cd0;
    height: 50px;
    width: 145px;
    text-align: center;
    line-height: 300%;
    position: absolute;
    top: 20px;
    right: 20px; 
      
}
#logo {
    height: 100px;
    width: 100px;
}

.panel {
    position: absolute;
    top: 149px;
    margin: auto 39px;
    height: 50px;
    width: 1100px;
    background: -moz-linear-gradient(left, rgba(56, 143, 249, 0.6) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.6) 80%, rgba(56, 143, 249, 0.6) 100%);
    box-shadow: -10px 0 100px 50px rgb(0, 0, 102);
    transform: skewX(50deg);
    border-radius: 10px 5px 0 0;
    filter: opacity(0.5);
    }
            /*HEADER*/

            /*INFORMATION*/
.body {
    text-align: center;
    background: -moz-linear-gradient(left, rgba(56, 143, 249, 0.3) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 80%, rgba(56, 143, 249, 0.3) 100%); 
    box-shadow: -10px 0 50px rgb(56, 143, 249);       
    height: auto;
    width: 1100px;
    margin: auto;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
}

.menu {
    position: relative;
    top: -90px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
}

.box {
    color: blue;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    height: 50px;
    width: 145px;
    transition: 0.5s;
}
.box2 {
    color: blue;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    height: 50px;
    width: 145px;
    transition: 0.5s;
}
.box3 {
    color: blue;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    height: 50px;
    width: 145px;
    transition: 0.5s;
}
.box4 {
    color: blue;
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    height: 50px;
    width: 145px;
    transition: 0.5s;
}

.box a {
    color: blue;
}
.box2 a {
    color: blue;
}
.box3 a {
    color: blue;
}
.box4 a {
    color: blue;
}

.box:hover {
    margin: -20px auto;
}
.box2:hover {
    margin: -20px auto;
}
.box3:hover {
    margin: -20px auto;
}
.box4:hover {
    margin: -20px auto;
}

.box img {
    height: 70px;
    width: 70px;
}
.box2 img {
    height: 70px;
    width: 70px;
}
.box3 img {
    height: 70px;
    width: 70px;
}
.box4 img {
    height: 70px;
    width: 70px;
}

.inbox {
    display: none;
    top: -80px;
    position: relative;
    width: 100%;
}
.inbox2 {
    display: none;
    top: -80px;
    position: relative;
    width: 100%;
}
.inbox3 {
    display: none;
    top: -80px;
    position: relative;
    width: 100%;
}
.inbox4 {
    display: none;
    top: -80px;
    position: relative;
    width: 100%;
}

.inbox li {
    top: 100px;
    background: blue;
    position: relative;
    transition: 1s;
}
.inbox2 li {
    top: 100px;
    background: blue;
    position: relative;
    transition: 1s;
}
.inbox3 li {
    top: 100px;
    background: blue;
    position: relative;
    transition: 1s;
}
.inbox4 li {
    top: 100px;
    background: blue;
    position: relative;
    transition: 1s;
}

.inbox li a {
    margin: 0 auto;
    color: #fff;
    display:block;
    position: relative;
    width: 500px;
    height: 40px;
    line-height: 250%;
    text-align: center;
}
.inbox2 li a {
    margin: 0 auto;
    color: #fff;
    display:block;
    position: relative;
    width: 330px;
    height: 40px;
    line-height: 250%;
    text-align: center;
}
.inbox3 li a {
    margin: 0 auto;
    color: #fff;
    display:block;
    position: relative;
    width: 250px;
    height: 40px;
    line-height: 250%;
    text-align: center;
}
.inbox4 li a {
    margin: 0 auto;
    color: #fff;
    display:block;
    position: relative;
    width: 500px;
    height: 40px;
    line-height: 250%;
    text-align: center;
}

.inbox ul {
    left: -55px;
    top: 10px;
    position: relative;
    transition: 1s;
    
}
.inbox2 ul {
    left: -330px;
    top: 10px;
    position: relative;
    transition: 1s;
    
}
.inbox3 ul {
    left: -610px;
    top: 10px;
    position: relative;
    transition: 1s;
    
}
.inbox4 ul {
    left: -880px;
    top: 10px;
    position: relative;
    transition: 1s;
    
}

.inbox ul li {
    display: inline-block;
    
}
.inbox2 ul li {
    display: inline-block;
    
}
.inbox3 ul li {
    display: inline-block;
    
}
.inbox4 ul li {
    display: inline-block;
    
}

/*.box:hover .inbox ul {
    position: relative;
    display: inline-block;
}*/
            /*INFORMATION*/
            
            /*NEWS*/

img {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: none;
}

.news {
    max-width: 1000px;
    height: auto;
    margin: 100px auto;
    border: 1px solid #000;
    display: flex;   
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch;
}

.newss {
    display: flex;
    flex-flow: wrap;
    margin: 10px;
}

.story-news {
    text-align: left;
    flex: 2 1 700px;
    padding: 0 0 0 20px;
    margin:  -10px 0 0 0;
}

.img-news {
   flex: 1 2 200px;
}

            /*NEWS*/